@font-face {
	font-family: "AvenirProBlack";
	src: url(fonts/AvenirProBlack.otf) format("truetype");
}

@font-face {
	font-family: "AvenirProMedium";
	src: url(fonts/AvenirProMedium.otf) format("truetype");
}

body {
	margin: 0;
}

.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/* Navigation */

.nav {
	color: #000;
	font-family: AvenirProMedium;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	-webkit-app-region: drag;
}

.ic {
	width: 24px;
	height: 24px;
}

.ic-close {
	background-image: url("icons/ic_close_black_24dp_1x.png");
	-webkit-app-region: no-drag;
}


/* Main */

.main {
	display: flex;
	flex-direction: column;
	font-family: AvenirProBlack;
	padding-left: 1rem;
}

.description {
	font-size: 1.4rem;
}

.location {
	font-family: AvenirProMedium;
	font-size: 1rem;
}

.temp {
	font-size: 4rem;
}


/* Footer */

.footer {
	display: flex;
	padding-left: 1rem;
	padding-bottom: 1rem;
	align-items: flex-end;
	overflow-x: hidden;
	height: 220px;
	box-sizing: border-box;
}

.img {
	object-fit: cover;
}

.img-left {
	width: 56%;
	height: 76%;
	margin-right: 4px;
}

.img-right {
	width: 100%;
	height: 100%;
}